*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
html, body{
   width: 100%;
   height: 100%;
   margin: 0;
   padding: 0;
   overflow-x: hidden;
}

a, h2, h1, h3{
    margin: 0;
    padding: 0;
}
:root{
    --main-color: rgb(0, 150, 177);
}
img{
    width: 100%;
    
}
#header-main{
    width: 100%;
    height: 3.5rem;
    background-color: var(--main-color);
    z-index: 12;
}
#nav-main{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#nav-main .logo{
    width: 45px;
    height: 45px;
    border: 1px solid #fff;
    padding: 0.5rem;
    border-radius: 50%;
    margin-top: 0.4rem;
    
}
#nav-main .logo img{
    border-radius: 50%;
}

#nav-main ul{
    display: flex;
    gap: 2rem;
}
#nav-main ul li{
    list-style: none;

}
#nav-main .active{
    border-bottom: 2px solid;
}
#nav-main ul li a{
    text-decoration: none;
    color: rgb(218, 218, 218);
    font-weight: 600;
    letter-spacing: .12rem;
    padding-bottom: 0.3rem;
}
#nav-main ul li a:hover{
    color: rgb(253, 249, 0);
    transition: 0.7s;
    
}
#nav-main button{
    padding: 7px 15px;
    cursor: pointer;
    background-color: rgb(232, 207, 255);
    border: 0;
    border-radius: 3px;
    margin-left: 1rem;
}
#nav-main button:hover{
   background-color: #8a0000;
   color: white;
   transition: 0.2s ease-in-out;
}
.toggle{
    display: none;
}
/* Home section  */
#Home{
    background-color: var(--main-color);
    z-index: 2;
}
.home-main{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
    margin: auto;
    
}
.home-main .box{
    width: 500px;
}
.box .main-title{
    font-size: 5rem;
    text-shadow: 2px 0 3px rgba(0, 150, 130, 0.8);
    text-align: center;
}
.box h2{
    font-size: 2rem;
    margin-bottom: 0.5rem;
}
.box h3{
    font-size: 1.5rem;
}
.box > h1{
    font-size: 5rem;
}
.box img{
    width: 450px;

}
/* login section  */
#pop-main{
   position: absolute;
   width: 100%;
   height: 100%;
   background-color: rgb(0, 0, 0, 0.7);
   visibility: hidden;
   background-size: cover;
}
#pop-main.pop-main-active{
   visibility: visible;
   z-index: 555;
}
#login-pop{
   position: absolute;
   top: 15%;
   left: 30%;
   z-index: 1;
   visibility: hidden;
   transform: translateY(50px);
   transition: 0.5s;
   
   
}
#login-pop.login-active{
   visibility: visible;
   transform: translateY(-50px);
   transition: 0.5s;
}
form{
   background-color: rgba(202, 202, 202, 0.6);
   width: 500px;
   height: auto;
   padding: 100px;
   border-radius: 10px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
}
.login-title{
   position: relative;
   top: -20px;
   color: white;
}
form input{
   width: 85%;
   margin-bottom: 2rem;
   padding: 10px 7px;
   border: 0;
   outline: none;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
   border-radius: 2px;
}
form #check{
   position: relative;
    left: 2rem;
    width: 20px;
    height: auto;
    display: inline-flex;
    flex-direction: row-reverse;
    gap: 3px;
    color: white;
}
form #login-btn{
   position: relative;
   top: -10px;
   width: 88%;
   padding: 8px 7px;
   background-color: var(--main-color);
   border: 0;
   color: white;
   font-size: 1rem;
   cursor: pointer;
   border-radius: 3px;
}
#eyeicon{
   position: relative;
   top: -56px;
   left: 409px;
   cursor: pointer;
}
#eyeicon.eye-remove{
   visibility: hidden;
}
#eye-close{
   position: relative;
   top: -56px;
   left: 385px;
   visibility: hidden;
   cursor: pointer;
}
#eye-close.eye-active{
   visibility: visible;
}
#close{
   position: relative;
   top: -300px;
   left: 550px;
   color: white;
   cursor: pointer;
}


/* Styles for smartphones */
@media only screen and (max-width: 480px) {
    body{
        overflow-x: hidden;
    }
    #header-main{
        height: 5rem;
        transition: 0.5s;
      }
      #header-main.head-spand{
        height: 20rem;
        transition: 0.5s;
      }
       #nav-main{
         flex-direction: column;
       }
       #nav-main{
          
       }
       #nav-main .logo{
          position: relative;
          left: -7rem;
          top: 1rem;
       }
       #nav-main ul{
          flex-direction: column;
          visibility: hidden;
          position: relative;
          top: -100px;
          
       }
       #ul-menu.ul-active{
          visibility: visible;
          transform: translateY(100px);
          transition: 0.4s ease;
       }
       #nav-main .login-main{
          margin-top: 0.5rem;
       }
       .toggle{
          display: block;
          position: relative;
          top: -250px;
          left: 290px;
       }
       .toggle #menu-bar{
          position: relative;
          left: 23px;
          color: white;
          cursor: pointer;
       }
       #menu-bar.menu-hide{
          visibility: hidden;
       }
       .toggle #close-bar{
          color: white;
          visibility: hidden;
          cursor: pointer;
       }
       #close-bar.close-active{
          visibility: visible;
       }
       .login-main{
        display: none;
       }
       /* Home section  */
     .home-main{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
        padding-top: 3rem;
        
     }
     .box{
        margin-bottom: 3rem;
     }
     .main-title{
        text-align: center;
        font-size: 4rem !important;
     }
     .sub-title, h3{
        text-align: center;
     }
  }
  
  /* Styles for tablets */
  @media only screen and (min-width: 481px) and (max-width: 768px) {
    body{
        overflow-x: hidden;
    }
    #header-main{
        height: 5rem;
        transition: 0.5s;
      }
      #header-main.head-spand{
        height: 20rem;
        transition: 0.5s;
      }
       #nav-main{
         flex-direction: column;
       }
       #nav-main{
          
       }
       #nav-main .logo{
          position: relative;
          left: -19rem;
          top: 1rem;
       }
       #nav-main ul{
          flex-direction: column;
          visibility: hidden;
          position: relative;
          top: -100px;
          left: -100px;
       }
       #ul-menu.ul-active{
          visibility: visible;
          transform: translateY(100px);
          transition: 0.4s ease;
       }
       #nav-main .login-main{
          margin-top: 0.5rem;
       }
       .toggle{
          display: block;
          position: relative;
          top: -250px;
          left: 390px;
       }
       .toggle #menu-bar{
          position: relative;
          left: 23px;
          color: white;
          cursor: pointer;
       }
       #menu-bar.menu-hide{
          visibility: hidden;
       }
       .toggle #close-bar{
          color: white;
          visibility: hidden;
          cursor: pointer;
       }
       #close-bar.close-active{
          visibility: visible;
       }
       .login-main{
        display: none;
       }
       /* Home section  */
     .home-main{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
        
     }
     .box{
        margin-bottom: 3rem;
     }
     .main-title{
        text-align: center;
        font-size: 4rem !important;
     }
     .sub-title, h3{
        text-align: center;
     }
  }
  
  /* Styles for small devices */
  @media only screen and (min-width: 769px) and (max-width: 1024px) {
    
  }
  